{% extends 'base.html' %}

    {% block content %}
    <div class="container mt-4">
        <h1>Dicionário Aramaico/Português</h1>
        {% if words %}
            <ul class="list-group">
                {% for word in words %}
                <li class="list-group-item">
                    Aramaico Siríaco: <strong>{{ word.aramaic_word }}</strong>
                    <br>
                    Transliteração: {{ word.transliteration }}
                    <br>
                    Tradução: {{ word.portuguese_translation }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma palavra encontrada.</p>
        {% endif %}
    </div>
    {% endblock %}
